ul {
    display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly
        
}
ul{
    background-color: rgb(221, 18, 11);
    color: white;
    padding: 20px;
    
    
    
}
li{
cursor: pointer;
font-size: 18px;
}
li:hover {
    background-color: white;
    color: black;

}